body{
	background-color: pink;
	font-style: italic;
	
}
p{
	margin-left: auto;
	margin-right: auto;
	
}
.a{
	background: inherit;

}
.b{
	border-style: solid;
	font-weight: bold;
}
.e{
	font-style: inherit;
}
.f,.g{
	margin-left: 20%;
}
.h{
	font-size: 50%;
	font-weight: bold;
	margin-top: 10%;
	text-align: right;
}
